<main style="text-align: center;">
    <h1 style="margin-bottom: 20px; color: black;">Posts</h1>
    <div style="margin: auto;"> <!-- Centered container -->
        {{#each posts}}
        <div style="margin-bottom: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <div style="margin-bottom: 20px; display: flex; justify-content: center;">
                <div style="background-color: #ffc107; padding: 10px;">
                    <h2 style="margin-top: 10px;">
                        <a href="/post/{{id}}" style="color: dark; text-decoration: none;">{{title}}</a>
                    </h2>
                </div>
                <div style="background-color: white; padding: 20px; color: black;">
                    <p>Created by: {{user.username}}</p>
                    <p>Date: {{created_at}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>
